node_modules/
dist/
.DS_Store
.idea/
.vscode/
*.log
.env
.env.local
.env.*.local
coverage/
.nyc_output/
*.swp
*.swo
*~
.cache/
.parcel-cache/
.next/
out/
build/
.nuxt/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test/
*.vsix